/Content/SoulCity
/Intermediate
/Saved
/Content/StarterContent/Architecture
Content/StarterContent/Architecture/Floor_400x400.uasset
/Content/CityofBrass_Enemies
/Content/ParagonSevarog
Content/StarterContent/Architecture/Floor_400x400.uasset
/Content/Megascans_4k
/Content/Megascans_2k
